absl-py==0.7.1
astor==0.7.1
backcall==0.1.0
backports.csv==1.0.7
backports.functools-lru-cache==1.5
certifi==2019.3.9
chardet==3.0.4
cheroot==6.5.5
CherryPy==18.1.1
Click==7.0
colorama==0.4.1
decorator==4.4.0
feedparser==5.2.1
Flask==1.0.2
future==0.17.1
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
idna==2.8
ipython==7.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jaraco.functools==2.0
jedi==0.13.3
Jinja2==2.10.1
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
lxml==4.6.2
Markdown==3.1
MarkupSafe==1.1.1
mock==3.0.5
more-itertools==7.0.0
nltk==3.4.1
numpy==1.16.3
pandas==0.24.2
parso==0.4.0
pdfminer.six==20181108
pickleshare==0.7.5
portend==2.4
prompt-toolkit==2.0.9
protobuf==3.7.1
pycryptodome==3.8.1
Pygments==2.4.0
python-dateutil==2.8.0
python-docx==0.8.10
pytz==2019.1
#pywin32==224
PyYAML==5.1
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sortedcontainers==2.1.0
StringDist==1.0.9
tempora==1.14.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
traitlets==4.3.2
urllib3==1.24.3
wcwidth==0.1.7
Werkzeug==0.15.2
win-unicode-console==0.5
zc.lockfile==1.4
