<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matching scientific variables</title>
    <style>
        body { font-size: 14px; font-family: Verdana; color: green;}
        .label {color: blue;}
        variable {color: green;}
        input { border: lined 3px blue;}
        form { text-align: center}
        h1 { text-align:center }

    </style>
</head>
<body>
    <h1>Matching Scientific Variables using Machine Learning</h1>
    <form action = "/predict" method = "POST">
         <p id="variable">Enter variable:</p>
         <p><input type = "text" name = "var" placeholder="eg. temp in degc" /></p>
         <p><input type = "submit" value = "Predict" name="submit_for_prediction" /></p>
      </form>
    <p>Best guesses:</p>
    {% if no_prediction %}
        {{no_prediction}}
    {% elif prediction %}
        <ul style="list-style: none;"> {% for dataframe in prediction %}
            {%if not dataframe[1].empty %}
            <li>
                <p>
                    <ol>
                        {% for key, value in dataframe[1].iterrows() %}
                            <li>
                            {% if 'p' in dataframe[0] %}
                                {% if value['url'] is not number %} <a href="{{ value['url'] }}">
                                {% endif %}
                                {{ value['proper_name'] }}</a>
                                {%if suggested_units==True %}
                                    {% if value['suggested_unit'] is not number %}
                                        in
                                            {% for unit, url in zip(value['suggested_unit'].split(" | "), value['suggested_unit_url'].split(" | ")) %}
                                                <a href="{{ url }}">{{ unit }}</a>
                                            {% endfor %}
                                    {% endif %}
                                {% endif %}
                            {% elif 'u' in dataframe[0] %}
                                {% if value['url'] is not number %} <a href="{{ value['url'] }}">
                                {% endif %}
                                {{ value['proper_name'] }}
                                {% if value['abbreviation'] is not number%}
                                    ({{ value['abbreviation']}})
                                {% endif %}
                                </a>
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                </p>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <p>Not happy with the result? Click here add your input to the training set to improve these predictions:</p>
        <form action="/submit" method="get">
            <button type="submit">Train on my input</button>
        </form>
</body>
</html>
